AddDefaultCharset utf-8
Header always set X-Frame-Options "SAMEORIGIN"

## URL rewrite
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS_HOST} ^www\.
RewriteRule ^(.*)$ https://%{HTTPS_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
